body {
  background-color: #121417;
}

.counterBtn {
  height: 30%;
  width: 30%;
  border: solid;
  border-radius: 20%;
  font-size: 50px;
}

@media (max-width: 1100px) {
  .counterBtn {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .counterBtn {
    font-size: 12px;
  }
}
